<% content_for :sub_title do %>
Sign Up
<% end %>

  <div id="signin">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email,  :placeholder => 'email'  %></div>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, :placeholder => 'name'  %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, :placeholder => 'password'  %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :placeholder => 'password'  %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
     
  </div>
