<% content_for :sub_title do %>
Forgot your password?
<% end %>

<div id="signin">

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :placeholder => 'email' %></div>

  <div><%= f.submit "email me reset", :class=> 'button' %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
