<% content_for :sub_title do %>
Sign In
<% end %>

  <div id="signin">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div><%= f.label :email %><br />
        <%= f.email_field :email, :placeholder => 'email'  %></div>

       <div><%= f.label :password %><br />
       <%= f.password_field :password, :placeholder => 'password' %></div>

      <% if devise_mapping.rememberable? -%>
        <div class="hidden"><%= f.check_box :remember_me, :checked => true %> <%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit "Sign in" %></div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>

