<div class="wrap">

  <div class="nav_info">
    <div class="title">NothingCalendar</div>
    <div class="subtitle">Account Info</div>
    <div id="signin">
        <% if signed_in?(:user) %>
          Signed in as <%= current_user.email %>. Not you?
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

<%= form_tag sync_marks_path do %>  
 <%#= f.text_tag :name %>  
 <%= submit_tag "sync" %>  
<% end %>  
          
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
        <% end %>
     </div>
  </div>
</div>
