<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'Nothing Calendar' %></title>
  <%= csrf_meta_tag %>
  <link href="/stylesheets/all.css" rel="stylesheet" type="text/css">
  <script src="/javascripts/jquery-1.4.2.min.js"></script>
  <script src="/javascripts/jquery.calendar-widget.js"></script>
  <!--fixes a broken json parser on some android phones -->
  <script>window.JSON = null;</script>
  <script src="/javascripts/json2.js"></script>
  <script src="/javascripts/lawnchair-0.6.1.min.js"></script>
  <script src="/javascripts/lawnchair-adapter-webkit-sqlite-0.6.1.js"></script>
  <script src="/javascripts/query.js"></script>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <link rel="Icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/icon.png"/>
  <link rel="apple-touch-icon-precomposed" href="/images/precomposed-icon.png"/>
  <link rel="apple-touch-startup-image" href="/images/startup.png">


  <script>
  $(function(){
    $('form:first *:input[type!=hidden]:first').focus();
  });
  </script>

</head>
<body>
  <div class="wrap">

    <div class="nav_info">
      <div class="title">
	<a href='/'>
	  <% if content_for?(:title) %>
	    <%= yield(:title) %>
	  <% else %>
	    NothingCalendar
	  <% end %>
	</a>
      </div>
      <div class="subtitle">
        <% if content_for?(:sub_title) %>
	  <%= yield(:sub_title) %>
	<% else %>
	  Tracks occurences of some event.
	<% end %>
      </div>

      <% if flash[:error] || flash[:notice] %>
        <div class="messages">
          <% if flash[:error] %>
            <span class="flash-error error"><%= flash[:error] %></span>
          <% end %>
          <% if flash[:notice] %>
            <span class="flash-notice notice"><%= flash[:notice] %></span>
          <% end %>
        </div>
      <% end %>
      
      <div class="messages" id="messages" style="display:none">
        <span class="notice"></span>
        <span class="error"></span>
      </div>
    </div>
    
    <%= yield %>

    <p class="footer">
      Inspired by
      <a href="http://calendaraboutnothing.com">Calendar About Nothing</a>,
      in fact sharing open source
      <a href="https://github.com/entp/seinfeld">code</a>.
      <br/>
      Created by <a href="http://mayerdan.com">Dan Mayer</a>
    </p>
  </div>

</body>
</html>
