<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'Nothing Calendar' %></title>
  <%= csrf_meta_tag %>
  <link href="/stylesheets/all.css" rel="stylesheet" type="text/css">
  <script src="/javascripts/jquery-1.4.2.min.js"></script>
  <script src="/javascripts/jquery.calendar-widget.js"></script>
  <!--fixes a broken json parser on some android phones -->
  <script>window.JSON = null;</script>
  <script src="/javascripts/json2.js"></script>
  <script src="/javascripts/lawnchair-0.6.1.min.js"></script>
  <script src="/javascripts/query.js"></script>
  <script src="/javascripts/mustache.js"></script>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <link rel="Icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/icon.png"/>
  <link rel="apple-touch-icon-precomposed" href="/images/precomposed-icon.png"/>
  <link rel="apple-touch-startup-image" href="/images/startup.png">

</head>
<body>
  <div class="wrap">

    <div class="nav_info">
      <div class="title">
        <a href='/' data-pjax="#main">
          <% if content_for?(:title) %>
            <%= yield(:title) %>
          <% elsif @title %>
	    <%= @title %>
	  <% else %>
            NothingCalendar
          <% end %>
        </a>
      </div>
      <div class="subtitle">
        <% if content_for?(:sub_title) %>
          <%= yield(:sub_title) %>
	<% elsif @sub_title %>
	  <%= @sub_title %>
        <% else %>
          <a href="/site/about" data-pjax="#main">Tracks occurences</a> of some event.
        <% end %>
      </div>

      <%= render :partial => "shared/notice_messages" %>

    </div>

    <div id="main">
      <%= yield %>
    </div>

    <p class="footer">
      <a href="/site/about" data-pjax="#main">About NothingCalendar</a><br/>
      <a href="/users" data-pjax="#main">Current Streaks</a><br/>
      Inspired by
      <a href="http://calendaraboutnothing.com">Calendar About Nothing</a>.
      <br/>
      Created by <a href="http://mayerdan.com">Dan Mayer</a>
    </p>
  </div>

  <% if Rails.env.development? %>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  <% end %>

  <script src="/javascripts/jquery.pjax.js"></script>
  <script src="/javascripts/all.js"></script>

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27172934-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

</body>
</html>
